.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 25px;
  font-size: 50px;
}
.header>span{
  color: yellow;
  margin: 10px;
}

.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  border: 2px solid rgb(30, 30, 30);
  border-radius: 8px;
  background-color: rgb(5, 122, 122);
  height: 100px;
  width: 100px;
  margin-left: -1px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  padding: 20%;
}

.btn{ 
  display: block;
  margin: auto;
  font-size: 25px;
  margin-top: 40px;
  background-color: rgb(30, 30, 30);
  color: white;
  border: 2px solid white;
  padding: 15px;
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 30px;
  }
}